<form [formGroup]="resetForm" (ngSubmit)="submitDetails()">
    <p-card header="Reset Password" [style]="{width: '360px'}">
        <div class="field">
            <label for="newPass">New Password</label>
            <input type="password"
                pInputText
                class="w-full"
                formControlName="newPass"
                placeholder="Type your new password"
            >
            <small class="block p-error" *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)">
                <div *ngIf="newPass.errors?.['required']">New Password is required</div>
                <div *ngIf="newPass.errors?.['minlength']">Password must be at least 6 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="confirmPass">Confirm Password</label>
            <input type="password"
                pInputText
                class="w-full"
                formControlName="confirmPass"
                placeholder="Confirm your new password"
            >
            <small class="block p-error" *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)">
                <div *ngIf="confirmPass.errors?.['required']">Confirm Password is required</div>
                <div *ngIf="confirmPass.errors?.['minlength']">Password must be at least 6 characters</div>
            </small>
            <small *ngIf="resetForm.errors?.['passwordMismatch'] && newPass.valid && confirmPass.valid"
                class="block p-error"
            >
                Passwords should match
            </small>
        </div>
        <p-button
            label="Reset Password"
            type="submit"
            styleClass="w-full"
            [disabled]="resetForm.invalid"
        ></p-button>
    </p-card>
</form>