<form [formGroup]="forgotForm" (ngSubmit)="submitDetails()">
    <p-card header="Forgot Password" [style]="{width: '360px'}">
        <div class="field">
            <label for="email">Email</label>
            <input type="email"
                pInputText
                placeholder="Type your email"
                formControlName="email"
                class="w-full"
            >
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Enter a valid email</div>
            </small>
        </div>
        <p-button
                label="Next"
                type="submit"
                styleClass="w-full"
                [disabled]="forgotForm.invalid"
            ></p-button>
    </p-card>
</form>